/* Basic Global Styling etc (container, button styling) */
.container {
	max-width: 1150px;
	margin: 0 auto;
	padding-right: 24px;
	padding-left: 24px;
}

button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}

.user-post-list {
	gap: 24px 16px;
	grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));	display: grid;

}
.user-post-item {
	border-radius: 4px;
}
.user-avatar {
	width: 116px;
	height: 116px;
}
.user-avatar-small {
	width: 32px;
	height: 32px;
}
.post-item-list {
	width: 100%;
	display: grid;
	gap: 24px 16px;
	grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
}

