/* Basic Global Styling etc (container, button styling) */
.container {
	max-width: 1150px;
	margin: 0 auto;
	padding-right: 24px;
	padding-left: 24px;
}

button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}
